<div class="container-fluid" >
    <div class="row">
      <button nz-button (click)="scrollToIndex(1)">Scroll To Index 200</button>
      <button nz-button nzType="primary" class="btn-add" (click)="create()">
        <i nz-icon nzType="plus" nzTheme="outline"></i>Add Country
      </button>
      <button nz-button nzType="primary" class="btn-add" >
        Get Selected
      </button>
      <button nz-button nzType="primary" [disabled]="setOfCheckedId.size === 0"  (click)="sendRequest()">
        Send Request
      </button>
    </div>
    <div class="row">
      <nz-table #table [nzData]="listOfDisplayData" 
      [nzVirtualItemSize]="35"
      [nzVirtualForTrackBy]="trackByIndex"
      [nzScroll]="{ x: '850px', y: '240px' }"
      [nzLoading]="loading"
      nzShowPagination
      (nzPageSizeChange) = "onChangePageSize($event)"
      (nzPageIndexChange) = "onChangePageIndex($event)"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  nzShowSizeChanger
  >
    <thead>
      <tr>
        <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" 
        (nzCheckedChange)="onAllChecked($event)"></th>
        <th nzLeft>Action</th>
        <th nzLeft></th>
        <th nzCustomFilter [nzSortOrder]="name_col.sortOrder"
        [nzSortFn]="name_col.sortFn"
        [nzSortDirections]="name_col.sortDirections"
        (nzSortOrderChange) = "updateIndexes($event)"
        >
          Name
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th
              *ngFor="let column of listOfColumns"
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
              (nzSortOrderChange) = "updateIndexes($event)"
            >
              {{ column.name }}
            </th>
      </tr>
    </thead>
    <tbody>
      <ng-template nz-virtual-scroll let-data let-index="index">
        <tr>
          <td
                [nzChecked]="setOfCheckedId.has(data.id)"
                [nzDisabled]="data.disabled"
                (nzCheckedChange)="onItemChecked(data.id, $event)"
              ></td>
          <td nzLeft>
            <a>action</a>
          </td>
          <td nzLeft><img src="assets/img1.jpg" width="70" height="50"></td>
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
        </tr>
      </ng-template>
      
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
  </div>
  </div>
  <nz-modal *ngIf="isVisible" [(nzVisible)]="isVisible" nzTitle="Add Employee" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div class="container">
      <form nz-form class="container-fluid p-5" [formGroup]="validateForm">
        <nz-form-item class="item-form">
          <div class="row">
              <div class="row">
                <nz-form-control class="small-input" nzHasFeedback [nzErrorTip]="nameErrorTpl">
                  <input nz-input formControlName="name" [(ngModel)]="input.name" placeholder="Name" />
                  <ng-template #nameErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      The Name is required!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
            </div>
          </div>
        </nz-form-item>
        <nz-form-item class="item-form">
          <div class="row">
              <div class="row">
                <nz-form-control class="small-input" nzHasFeedback [nzErrorTip]="ageErrorTpl">
                  <input nz-input formControlName="age" [(ngModel)]="input.age" placeholder="Age" />
                  <ng-template #ageErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      The Age is required!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('min')">
                      The Age min is 18!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
            </div>
          </div>
        </nz-form-item>  
        <nz-form-item class="item-form">
          <div class="row">
              <div class="row">
                <nz-form-control class="small-input" nzHasFeedback [nzErrorTip]="addressErrorTpl">
                  <input nz-input formControlName="address" [(ngModel)]="input.address" placeholder="Address" />
                  <ng-template #addressErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      The Address is required!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
            </div>
          </div>
        </nz-form-item>
      </form>
    </div>
  </nz-modal>