.constant_table{
    width: 500px;
    margin: 25px;
}
.btn-add{
    margin-left: 2em;
    margin-right: 2em;
    background-color: #da9024;
    border: 1px  #da9024;
  }
  .btn-edit{
    background-color: #da9024;
    border: 1px  #da9024;
  }
  .btn-delete{
    background-color: #da9024;
    border: 1px  #da9024;
  }
  .send-request {
    margin-bottom: 16px;
  }

  .send-request span {
    margin-left: 8px;
  }
  .search-box {
    padding: 8px;
  }

  .search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
  }

  .search-box button {
    width: 90px;
  }

  .search-button {
    margin-right: 8px;
  }